*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

header {
  width: 100%;
  background-color: #6e85b7;
  padding: 20px 0;
}

header h1 {
  color: #fff;
  padding: 0 20px;
  font-family: 'Archivo Narrow', sans-serif;
}

form {
  position: relative;
  width: 500px;
  margin: 30px 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgb( 0 0 0 / .4);
}

form :is(input, textarea) {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 6px;
  font-size: 1.2rem;
  resize: none;
}

form button {
  position: absolute;
  background-color: #6e85b7;
  border: none;
  outline: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  left: 19px;
  bottom: -10px;
  cursor: pointer;
}

.container {
  width: 100%;
  height: max-content;
  padding: 20px;
}

.notes {
  max-width: 400px;
  min-width: 300px;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  margin-right: 40px;
  margin-bottom: 20px;
  box-shadow: 0 3px 8px rgb( 0 0 0 / .3);
  display: inline-block;
}

.notes .title {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 10px;
}

.notes .title button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 2px 4px;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  transition: color .4s;
}

.notes .title button:hover {
  color: rgb(220, 30, 20);
}

footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 1rem 0;
  background-color: #6e85b7;
}